.home {
  .analytics-dashboard {
    .dashboard-tile {
      @include solarspeed-s-card();
      height: 100%;
    }

    .dashboard-tile,
    .active {
      cursor: pointer;
      padding: 20px 0 0 0;

      &:hover {
        border: 1px solid $primary;
        box-shadow: $light-box-shadow;
      }

      .tile-head {
        padding: 0 30px;

        h3 {
          font-family: $font-alt;
          color: $dark-text;
          font-weight: 600;
        }
      }

      .tile-body {
        font-size: 2rem;
        padding: 4px 0 8px 0;

        span {
          color: $dark-text;
          // font-weight: 600;
          font-weight: inherit;
          font-size: 1.8rem;
        }
      }
    }

    .active {
      border: 1px solid $primary;
      box-shadow: $light-box-shadow;
    }
  }

  button {
    text-align: left;
    height: 18px;
    // margin: 0 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.card-grid {
  .card-grid-item {
    border: 1px solid $lighter-grey;
    border-radius: 6px;

    .card-grid-item-body {
      padding: 10px;
    }
    .text-center {
      text-align: center;
    }
  }
}

.domain-outer-box {
  // background-color: $white;
  border: 1px solid $lighter-grey;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  // padding: 6px 16px 5px 14px;
  padding: 10px 12px;

  // span {
  //   color: $primary;
  // }
  &.header {
    margin-left: 10px;
    padding: 6px 16px 5px 14px;
  }
  // &.sidebar {
  //   padding: 10px 12px;
  // }

  .base-caret {
    position: relative;
    margin-left: 0.5rem;
    justify-content: center;
    align-items: center;
    height: 16px;
    width: 16px;
  }
}

.is-dark {
  .home {
    .analytics-dashboard {
      .active {
        border: 1px solid $primary;
        box-shadow: $light-box-shadow;
      }
    }
  }
}
